/* styles.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  /* background-color: var(--color-primary); */
  background-color: white;
  color: #5b9dff;

  & .navbar-brand {
    margin-left: 20px;
    text-decoration: none;
    color: #5b9dff;
    display: flex;
    font-size: 1.5rem;
    align-items: center;

    & .navbar-logo {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  & .navbar-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
    & .navbar-link {
      border: 1px solid #5b9dff;

      margin-right: 30px;
      color: #5b9dff;
      text-align: center;
      border-radius: 5px;
      padding: 8px 15px;
      text-decoration: none;
    }

    & .user {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid var(--color-primary-600);
      display: flex;
      color: var(--color-primary-600);
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      font-weight: 500;
      font-size: larger;
      cursor: pointer;
    }
  }

  & .navbar-link:hover {
    color: white;
    background-color: var(--color-primary-600);
  }
}

@media (max-width: 500px) {
  .navbar {
    & .navbar-links {
      margin-right: 10px;
      margin-left: 10px;
      & .navbar-link {
        padding: 5px 10px;
        font-size: 0.8rem;
      }
    }
  }
}
