* {
  font-family: "JetBrains Mono", monospace;

  --color-primary: #5b9dff;
  --color-primary-600: #3484fc;
  --color-gray: #687d9c;
  --color-gray-600: #575c64;
}

body,
html {
  font-family: "JetBrains Mono", monospace;
  height: auto;
  margin: 0;
}
